.cartContainer {
  max-width: 1100px;
  margin: 0 auto;
}

.cartContainer h1{
    font-size: 2.5rem;
    color: var(--naamani-font-dark);
}

.emptyCartText {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.emptyCartText p {
  margin: 0;
  font-size: 2rem;
}

.checkoutBtnWrapper {
  display: flex;
  gap: 1.5rem;
}

.backToShopBtn {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* max-width: 10rem; */
  background-color: var(--naamani-purple);
  text-decoration: none;
  color: var(--naamani-white);
  border: none;
  padding: 0.65rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  font-family: var(--font-nunito);
  transition: all 450ms;
  justify-content: center;
  text-align: center;
}

.backToShopBtn:hover {
  color: var(--naamani-purple);
  background-color: var(--naamani-green);
}

.breadcrumb {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--naamani-purple);
}

.breadcrumb a:hover {
  color: var(--naamani-coffee);
}

.backToProducts {
  text-decoration: none;
  font-size: 1.2rem;
}

.cartItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
}

.cartItems img {
  width: 20%;
  height: auto;
}

.cartData {
  width: 40%;
}

.removeBtnContainer {
  display: flex;
  align-items: center;
}

.removeBtn {
  border: none;
  background: transparent;
}

.removeBtn svg {
  height: 30px;
}

.removeBtn svg:hover {
  cursor: pointer;
}

.variantWrapper {
  display: flex;
  gap: 0.5rem;
}

.variantWrapper p {
  margin: 0;
  font-size: 0.85rem;
}

.itemName {
  margin-bottom: 0rem;
}

.total {
  margin: 0;
}

.totalItems {
  margin-bottom: 0;
}

.quanityInput {
  width: 40px;
  text-align: center;
  font-family: var(--font-nunito);
  font-size: 1.2rem;
}

.clearCartBtn,
.backToShopBtn,
.proceedToCheckoutBtn {
  border: none;
  padding: 0.65rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  font-family: var(--font-nunito);
  transition: all 450ms;
  
}

.clearCartBtn:hover,
.proceedToCheckoutBtn:hover {
  cursor: pointer;
}

.proceedToCheckoutBtn {
/* display: flex; */
text-align: center;
  color: var(--naamani-white);
  background-color: var(--naamani-purple);
  text-decoration: none;
  justify-content: center;
}

.proceedToCheckoutBtn:hover {
  background-color: var(--naamani-green);
  color: var(--naamani-purple);
}

.clearCartBtn {
  color: var(--naamani-purple);
  background-color: var(--naamani-green);
}

.clearCartBtn:hover {
  background-color: var(--naamani-purple);
  color: var(--naamani-white);
}

.shippingDetails {
  font-size: 0.85rem;
  margin-top: 0;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantityBtn {
  background-color: var(--naamani-green);
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.quantityBtn:hover {
  background-color: #e0e0e0;
}

.quantityInput {
  font-family: var(--font-nunito);
  width: 2.5rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  color: #333;
  padding: 0.15rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .checkoutBtnWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .cartItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 1100px; */
    width: 100%;
  }

  .cartItems img {
    width: 75%;
    height: auto;
  }

  .cartData {
    width: 100%;
    margin-bottom: 2rem;
  }

  .total {
    margin-top: 2rem;
  }
}
