.addToCartButton {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--naamani-purple);
    gap: 1rem;
    color: white;
    padding: .75rem 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* text-transform: uppercase; */
    width: 100%;
    font-size: 1.2rem;
    font-family: var(--font-nunito);
  }

  .addToCartButtonContainer{
    width: 100%;
    font-family: var(--font-nunito);
  }


  
  .addToCartButton:hover {
    background-color: var(--naamani-green);
    color: var(--naamani-purple);
  }

  .addToCartButton:active, .addToCartButton:focus {
    background-color: var(--naamani-purple);
    color: var(--naamani-white);
  }

  .addToCartButton:disabled {
    background-color: #ccc;
    color: grey;
  }
  
  .quantityLabel {
    margin-bottom: 0;
  }