:root {
  --naamani-purple: #684d9a; /* Example: Green */
  --naamani-green: #e3edc7; /* Example: Orange */
  --naamani-white: #ffffff;
  --naamani-black: #3c3840;
  --naamani-coffee: #543d1f;
  --naamani-caramel: #ccaa96;
  --naamani-grey-extra-light: #f7f8f8;
  --nammani-font-dark: #333333;
}

body {
  /* font-family: var(--font-geist-sans), sans-serif; */
  font-family: var(--font-nunito), sans-serif;
  margin: 0;
}

p {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-eb-garamond), sans-serif;
  font-weight: 500;
  letter-spacing: 0.9px;
}

.main {
  padding-top: 4rem; /* Offset for fixed header */
  font-family: var(--font-nunito), sans-serif;
}
